@model List<BooksApp.WEB.Models.BookViewModel>

@{
    ViewData["Title"] = "Books";
}

<body>
    <h2>@ViewData["Title"]</h2>

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Create">
                    <button type="button" class="btn btn-primary">Create</button>
                </a>
            </li>
        </ul>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Year</td>
                    <td>
                        <a asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>